<div class="nav-container">
  <div>
    <select (change)="selectGenre()" class="select-genre" [(ngModel)]="genre">
      <ng-container *ngFor="let g of genreList">
        <option type="select" id="{{ g }}" value="{{ g }}">{{ g }}</option>
      </ng-container>
    </select>
  </div>

  <div class="nav-container-icons">
    <span (click)="goUpload()">
      <img class="nav-icons" src="../../../assets/icons/telecharger.ico" />
    </span>
    <span (click)="goHome()">
      <img
        class="nav-icons nav-container-icons-right"
        src="../../../assets/icons/home.ico"
      />
    </span>
  </div>
</div>

<!--
<div *ngFor="let g of genreList">
  <button (click)="selectGenre()" id="{{ g }}">{{ g }}</button>
</div>
 -->
