<select class="select-genre" [(ngModel)]="genre">
  <ng-container *ngFor="let g of genreList">
    <option type="select" id="{{ g }}" value="{{ g }}">{{ g }}</option>
  </ng-container>
</select>
<button class="nav-button" (click)="selectGenre()">recherche</button>
<button class="upload-button" (click)="goUpload()">Upload</button>
<button class="upload-button" (click)="goHome()">Home</button>

<!--
<div *ngFor="let g of genreList">
  <button (click)="selectGenre()" id="{{ g }}">{{ g }}</button>
</div>
 -->
