<div class="container">
  <div *ngFor="let item of list" class="card-container">
    <img src="../../../assets/téléchargement.jfif" class="card-img" />

    <div class="flex-space-between">
      <div class="card-title">Title of the fun video</div>
      <img class="like-icon" src="../../../assets/fullhoert.ico" />
    </div>
    <div class="card-description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea iusto minus
      assumenda, quis aut placeat sapiente similique ipsam ipsa natus ratione
      quo nulla est adipisci nemo totam aliquam vero non?
    </div>
  </div>
</div>
